

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main {
    background-image: url("assests/img/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;

}
.hero>  :nth-child(1){
    font-family: "poppins",sans-serif;
    font-weight:bolder;
    font-size: 48px;
    text-align: center;
}
.hero :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;

}
.hero :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.separation{
    height: 7px;
    position: relative;
    background-color: gray;
}

.btn{
    padding: 3px 8px;
    font: weight 400px;;
    color: white;
    background-color:rgba(255, 255, 255, 0.374);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    font-weight: 400;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.main input{
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23,23,0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}


.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color:white;
    align-items: center;
}

.secImg{
    position: relative;
}
.secImg img{
    width: 30vw;
    z-index: 10;

}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 26vw;
    height: 19vw;
}

.second{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secImg2{
    position: relative;
}
.secImg2 img{
    width: 30vw;
    z-index: 10;
}


.third{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color:white;
    align-items: center;
}

.secImg3{
    position: relative;
}
.secImg3 img{
    width: 30vw;
    z-index: 10;

}
.secImg3 video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 10vw;
    
}


.fourth{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secImg4{
    position: relative;
}
.secImg4 img{
    width: 30vw;
    z-index: 10;
}